<nav class="header">
  <div style="display: flex; align-items: center;">
    {{ if .Site.Params.logo }}
      <a href="{{ "" | absLangURL }}" class="main-logo">
        <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
          alt="{{ .Site.Params.logo.alt }}">
        <span class="main-title">{{ .Site.Title }}</span>
      </a>
    {{ end }}

    <div class="dropdown">
      <button class="button-language button-black" data-toggle="dropdown"><i class="flag flag-{{ .Language.Params.slug }}"></i>{{ .Language.LanguageName }}</button>
      <div class="dropdown-menu">
        {{ range .Translations }}
          <a href="{{ .Permalink }}" class="dropdown-item {{ if eq $.Site.Language.Lang .Language.Lang }} active{{ end }}"><i class="flag flag-{{ .Language.Params.slug }}"></i>{{ .Language.LanguageName }}</a>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="social-links">
    {{ range .Site.Params.nav }}
      <a href="{{ .url | relLangURL }}" name="{{ .name }}"{{ if .class }} class="{{ .class }}"{{ end }}{{ if .target }} data-target="{{ .target }}"{{ end }}>{{ if .icon }}<i class="{{ .icon }}"></i> {{ end }}{{ .name }}</a>
    {{ end }}
  </div>
</nav>
