body {
	font-family: 'Roboto'!important;
	color: #2D3748;
}

a {
	color: #2B6CB0;
}

p {
	margin-bottom: 2em;
}

.lead {
	display: block;
	margin-bottom: 1em;
}

.text-highlight {
	font-size: 1.1em;
}

.text-center {
	text-align: center;
}

button {
	padding: 0;
}

.icon-steps {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 4em 0;
	gap: 0.3em;
}

button:hover {
	color: white;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4em 0;
}

.header .dropdown {
	margin-left: auto;
	flex: 0;
}

.social-links a {
	display: inline-flex;
	align-items: center;
	color: #2D3748;
	margin: 0.3em 0.6em;
}

.header a:hover {
	color: #1A202C;
}

.header button {
	margin-bottom: 0;
}

.main-logo {
	display: flex;
	align-items: center;
}

.main-logo img {
	flex: 1 1 90%;
	margin-right: 1em;
}

.logo-language {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	font-size: 0.9em;
}

.social-links .fab,
.social-links .fas {
	margin-right: 0.3em;
}

.button-black {
	background-color: #1A202C;
	border-color: #1A202C;
}

.button-black.button-clear, .button-black.button-outline {
	background-color: transparent;
	color: #1A202C;
}

.button-black.button-clear {
	border-color: transparent;
}

.button-large {
	font-size: 1em;
	height: unset;
	line-height: 2.5em;
	padding: 0 1em;
	white-space: normal;
}

.main-carousel {
	margin: 3em 0 5em;
}

.main-carousel img {
	height: 400px;
	width: auto;
	margin: 0 0.2em;
	object-fit: cover;
}

.flickity-page-dots {
	bottom: -45px;
}

.alert {
	background: #FEFCBF;
	color: #B7791F;
	font-size: 0.9em;
	padding: 0.5em 1em;
	margin-bottom: 2em;
	border-left: 3px solid #ECC94B;
}

.alert a {
	color: #B7791F;
	font-weight: bold;
}

.alert a:hover {
	color: #975A16;
}

.avatars {
	text-align: center;
	margin: 5em 0;
}

.avatars img {
	max-height: 9em;
}

.downloads {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3em 0;
}

.downloads .button {
	margin: 0.5em 0;
}

@media (min-width: 768px) {
	.main {
		margin: 0 3em;
	}
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.column-left {
		flex: 1;
	}
	.column-right {
		flex: 1;
		background-image: url('../images/via-papier-side.png');
		background-position-x: right;
		background-repeat: repeat-y;
		background-size: 85%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.flag {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 1em;
	line-height: 1em;
}

.button-language.active {
	background: #EDF2F7;
	color: #1A202C;
}

.button-language {
	padding: 0 3rem;
	border-radius: 0.3em;
}

.button-language .flag {
	margin-right: 0.5em;
}

.flag:before {
	content: "\00a0";
 }

.flag.flag-english {
	background-image: url(../images/flags/us.svg);
}
.flag.flag-german {
	background-image: url(../images/flags/de.svg);
}
.flag.flag-dutch {
	background-image: url(../images/flags/nl.svg);
}
.flag.flag-spanish {
	background-image: url(../images/flags/es.svg);
}
.flag.flag-polish {
	background-image: url(../images/flags/pl.svg);
}
.flag.flag-french {
	background-image: url(../images/flags/fr.svg);
}
.flag.flag-italian {
	background-image: url(../images/flags/it.svg);
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	padding: .5em 0;
	background: #f7fafc;
	border-radius: 0.3em;
	border: 1px solid #E2E8F0;
	min-width: 8em;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.dropdown-menu a {
	color: #4A5568;
	white-space: nowrap;
}

.dropdown-menu.show {
	display: block;
}

.dropdown-item {
	display: block;
	padding: .25rem 1.5rem;
}

.dropdown-item:hover {
	background: #EDF2F7;
}

.dropdown-item .flag {
	margin-right: .5em;
}

footer {
	display: flex;
	flex-direction: column;
	padding: 3em;
	background: #2D3748;
	color: #F7FAFC;
}

footer a {
	color: #F7FAFC;
}

footer a:hover {
	color: #FFF;
}

@media (min-width: 576px) {
	footer {
		flex-direction: row;
	}
	footer a+a {
		margin-left: 1em;
	}
	.copyright {
		padding-top: 0;
		margin-left: auto;
	}
 }