<div id="btn-download" class="downloads">
	<h1 class="text-center">Downloads (Version 5)</h1>
	<a href="/pdf/viaPapier-FULL-v5.pdf" target="_blank" rel="noopener" class="button button-black button-large button-download" data-label="full">{{ i18n "downloadFull" }}</a>
	<a href="/pdf/viaPapier-CITIES-v5.pdf" target="_blank" rel="noopener" class="button button-black button-outline button-large button-download" data-label="cities">{{ i18n "downloadCities" }}</a>
	<a href="/pdf/viaPapier-STREETS-v5.pdf" target="_blank" rel="noopener" class="button button-black button-outline button-large button-download" data-label="streets">{{ i18n "downloadStreets" }}</a>
	<a href="/pdf/viaPapier-ARTISTS-v5.pdf" target="_blank" rel="noopener" class="button button-black button-outline button-large button-download" data-label="artists">{{ i18n "downloadArtists" }}</a>
</div>
