<div id="btn-download" class="downloads">
	<h1 class="text-center">Downloads (Version 2)</h1>
	<a href="/pdf/viaPapier-VOLLVERSION-2_0.pdf" target="_blank" rel="noopener" class="button button-black button-large button-download" data-label="full">{{ i18n "downloadFull" }}</a>
	<a href="/pdf/viaPapier-STAEDTE-2_0.pdf" target="_blank" rel="noopener" class="button button-black button-outline button-large button-download" data-label="cities">{{ i18n "downloadCities" }}</a>
	<a href="/pdf/viaPapier-STRASSEN-2_0.pdf" target="_blank" rel="noopener" class="button button-black button-outline button-large button-download" data-label="streets">{{ i18n "downloadStreets" }}</a>
</div>
