<div class="avatars">
	<img src="/images/avatars/jens-busso.png">
	<p>{{ i18n "jensBussoText" }} <a href="https://heimatpiste.de/" target="_blank" rel="noopener">{{ i18n "jensBussoLink" }}</a></p>

	<img src="/images/avatars/heimatpiste.png">
	<p>{{ i18n "heimatpisteText" }} <a href="{{ .Get "path" }}" target="_blank" rel="noopener">{{ i18n "heimatPisteLink" }}</a></p>

	<img src="/images/avatars/max.png">
	<p>{{ i18n "maxText" }}</p>

	<img src="/images/avatars/paul.png">
	<p>{{ i18n "paulText" }}</p>
</div>