<div class="avatars">
	<img src="/images/avatars/jens-busso.png" alt="Jens & Busso Icon">
	<p>{{ i18n "jensBussoText" }} <a href="https://jensrobbers.de/" target="_blank" rel="noopener">{{ i18n "jensBussoLink" }}</a></p>

	<img src="/images/avatars/heimatpiste.png" alt="Heimatpiste Icon">
	<p>{{ i18n "heimatpisteText" }} <a href="https://heimatpiste.de/" target="_blank" rel="noopener">{{ i18n "heimatPisteLink" }}</a></p>

	<img src="/images/avatars/max.png" alt="Max Icon">
	<p>{{ i18n "maxText" }}</p>

	<img src="/images/avatars/paul.png" alt="Paul Icon">
	<p>{{ i18n "paulText" }}</p>
</div>