<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" .}}
  </head>
  <body>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="column-left">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
          </div>
          <div class="column-right"></div>
        </div>
      </div>
    </section>
    {{ partial "footer.html" . }}
    <script src="{{ .Site.BaseURL }}js/bundle.js"></script>
    <script src="{{ .Site.BaseURL }}js/instantpage.js" type="module" defer></script>
    <script src="{{ .Site.BaseURL }}js/script.js" type="module" defer></script>
  </body>
</html>
